.rectangle1 {
  position: absolute;
  width: 375px;
  height: 1276px;
  left: 100px;
  top: 100px;
  background: #F5F5F5;
}

.panel {
  position: absolute;
  width: 375px;
  height: 453px;
  left: 100px;
  top: 100px;
  background: #61CFC8;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px 34px 0px 0px;
  transform: scaleY(-1);
}

.marker {
  position: absolute;
  width: 267px;
  height: 267px;
  left: 154px;
  top: 148px;
  background: #FFFFFF;
  box-shadow: -2.5px -2.5px 8px rgba(255, 255, 255, 0.5), 2.5px 2.5px 10px rgba(0, 0, 0, 0.5), 0px 0px 100px rgba(0, 0, 0, 0.25);
}

.balance {
  position: absolute;
  width: 267px;
  height: 46px;
  left: 154px;
  top: 463px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.balanceRect {
  position: absolute;
  width: 267px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  transform: scaleY(-1);
}

.balanceValue {
  position: absolute;
  width: 103px;
  height: 39px;
  left: 82px;
  top: 3px;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #282828;
}

.balanceLabel {
  position: absolute;
  width: 57px;
  height: 39px;
  left: 22px;
  top: 3px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.balancePt {
  position: absolute;
  width: 57px;
  height: 39px;
  left: 188px;
  top: 3px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.ranking {
  position: absolute;
  width: 336px;
  height: 244px;
  left: 119px;
  top: 830px;
}

.rankingTitle {
  position: absolute;
  width: 328px;
  height: 36px;
  left: 4px;
  top: 0px;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.rankingElements {
  position: absolute;
  width: 336px;
  height: 170px;
  left: 0px;
  top: 59px;
}

.rankingItem {
  position: absolute;
  width: 336px;
  height: 46px;
}

.rankingBalance {
  position: absolute;
  width: 280px;
  height: 46px;
  left: 56px;
  top: 0px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.rankingBalanceRect {
  position: absolute;
  width: 280px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  transform: scaleY(-1);
}

.rankingBalanceValue {
  position: absolute;
  width: 120px;
  height: 39px;
  left: 105px;
  top: 3px;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #282828;
}

.rankingBalanceLabel {
  position: absolute;
  width: 83px;
  height: 39px;
  left: 22px;
  top: 3px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.rankingBalancePt {
  position: absolute;
  width: 29px;
  height: 39px;
  left: 225px;
  top: 3px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.rankingEllipse {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.rankingNumber {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 4px;
  top: 4px;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.profile {
  position: absolute;
  width: 328px;
  height: 169px;
  left: 123px;
  top: 580px;
}

.profilePanel {
  position: absolute;
  width: 336px;
  height: 149px;
  left: -4px;
  top: 59px;
}

.profilePanelRect {
  position: absolute;
  width: 336px;
  height: 149px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  transform: scaleY(-1);
}

.profileElements {
  position: absolute;
  width: 336px;
  height: 125px;
  left: 0px;
  top: 12px;
}

.profileTitle {
  position: absolute;
  width: 328px;
  height: 36px;
  left: 4px;
  top: 0px;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #282828;
}

.profilePlayCount {
  position: absolute;
  width: 328px;
  height: 36px;
  left: 4px;
  top: 67px;
}

.profilePlayLabel {
  position: absolute;
  width: 141px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #282828;
}

.profilePlayValue {
  position: absolute;
  width: 141px;
  height: 36px;
  left: 187px;
  top: 0px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #282828;
}

.profileTotalPt {
  position: absolute;
  width: 328px;
  height: 36px;
  left: 4px;
  top: 15px;
}

.profileTotalLabel {
  position: absolute;
  width: 141px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #282828;
}

.profileTotalValue {
  position: absolute;
  width: 141px;
  height: 36px;
  left: 187px;
  top: 0px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #282828;
}
