body {
	margin: 0;
	padding: 0;
	background: #444;
	font-family: 'Noto Sans JP', sans-serif;
}

.background {
	position: relative;
	width: 375px;
	min-height: 100vh;
	margin: 0 auto;
	background: #F3F3F3;
	overflow-y: auto;
}

.topPanel {
	position: relative;
	width: 375px;
	height: 453px;
	background: #61CFC8;
	border-radius: 0 0 64px 64px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.marker {
	position: absolute;
	left: 54px;
	top: 44px;
	width: 267px;
	height: 267px;
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	z-index: 1;
}

.marker img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.balanceCard {
	position: absolute;
	left: 54px;
	top: 359px;
	width: 267px;
	height: 48px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	column-gap: 16px;
	padding: 0 14px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 18px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.balanceLabel {
	font-size: 20px;
	font-weight: 700;
	color: #282828;
	justify-self: end;
}

.balanceValue {
	font-size: 28px;
	font-weight: 900;
	color: #282828;
	justify-self: center;
}

.balanceUnit {
	font-size: 20px;
	font-weight: 700;
	color: #282828;
	justify-self: start;
}

.cards {
	position: relative;
	margin-top: 40px;
	width: 375px;
	padding: 0 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 42px;
}

.profile {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profileName {
	font-size: 28px;
	font-weight: 900;
	color: #282828;
	text-align: center;
}

.profileRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 18px;
	border-radius: 12px;
	gap: 10px;

	background: linear-gradient(180deg, rgba(245, 245, 245, 0.22) 0%, rgb(255, 255, 255) 100%);
	border-radius: 12px;
	padding: 12px 16px;
	margin-top: 8px;
	border: 1.5px solid #fff;
	backdrop-filter: blur(8px) saturate(180%);
	-webkit-backdrop-filter: blur(8px) saturate(180%);
}

.profileLabel {
	font-size: 20px;
	font-weight: 700;
	color: #282828;
}

.profileValue {
	font-size: 28px;
	font-weight: 900;
	color: #282828;
	text-align: right;
}

.ranking {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.rankingTitle {
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	color: #282828;
}

.rankingRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 18px;
	border-radius: 12px;
	gap: 10px;

	background: linear-gradient(180deg, rgba(245, 245, 245, 0.22) 0%, rgb(255, 255, 255) 100%);
	border-radius: 12px;
	padding: 12px 16px;
	margin-top: 8px;
	border: 1.5px solid #fff;
	backdrop-filter: blur(8px) saturate(180%);
	-webkit-backdrop-filter: blur(8px) saturate(180%);
}

.rankingLabel {
	font-size: 20px;
	font-weight: 700;
	color: #282828;
}

.rankingValue {
	font-size: 28px;
	font-weight: 900;
	color: #282828;
	text-align: right;
}